ajax-content{
  .loader{
    opacity: 1;
    transition: 0.2s opacity linear;
    &.hide{
      display: none;
      opacity: 0;
    }
  }
  [content]{
    opacity: 1;
    transition: 0.3s opacity cubic-bezier(0, 0, 0.91, 0.46);
    transition-delay: 0.2s;
    &.fade{
        opacity: 0;
    }
  }
}
