.login{
  .login-form{
    padding: 10px 50px;
    position: absolute;
    width: 100%;
    bottom: 20px;
    label{
      border-radius: 2px;
      margin-bottom: 10px;
      background: rgba(0,0,0,0.8);
      border: 0px;
      span{
        color: white;
        font-weight: 500;
      }
      input{
          color: white;
          @include placeholder{
            color: white;
          }
      }
    }
  }
}
