<ion-view view-title="Asignatures">
  <ion-pane class="asignatures">
    <ion-content>
      <div class="list card">
        <div class="item item-full-image">
          <img class="full-image" ng-src="img/placeholder/asignatures/algebra.png">
        </div>
        <div class="item item-body">
          <h2>Algebra</h2>
        </div>
      </div>
      <div class="list card">
        <div class="item item-full-image">
          <img class="full-image" ng-src="img/placeholder/asignatures/calculus.jpg">
        </div>
        <div class="item item-body">
          <h2>Algebra</h2>
        </div>
      </div>
      <div class="list card">
        <div class="item item-full-image">
          <img class="full-image" ng-src="img/placeholder/asignatures/algorithms.png">
        </div>
        <div class="item item-body">
          <h2>Algorithms</h2>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
