<ion-view view-title="Schedule">
  <ion-pane class="schedule">
    <ion-content class="has-header">
      <ion-slide-box show-pager="false" ion-slide-tabs>
          <ion-slide ion-slide-tab-label="Monday">
            <schedule-day></schedule-day>
          </ion-slide>
          <ion-slide ion-slide-tab-label="Tuesday"><h1>Tab 2</h1></ion-slide>
          <ion-slide ion-slide-tab-label="Wednesday"><h1>Tab 3</h1></ion-slide>
          <ion-slide ion-slide-tab-label="Thursday"><h1>Tab 3</h1></ion-slide>
          <ion-slide ion-slide-tab-label="Friday"><h1>Tab 3</h1></ion-slide>
      </ion-slide-box>
    </ion-content>
  </ion-pane>
</ion-view>
