<ion-view view-title="sidemenu">
  <section class="user-info">
    <div class="user-image">
      <img src="img/placeholder/profile.jpg" alt="" class="img-responsive" />
    </div>
    <h2 class="username">John Doe</h2>
  </section>
  <section class="navigation">
    <div class="list">

      <a menu-close class="item item-icon-left" href="#" ui-sref="base.home">
        <i class="icon ion-home"></i>
        Home
      </a>

      <a menu-close class="item item-icon-left" href="#" ui-sref="base.asignatures">
        <i class="icon ion-university"></i>
        Asignatures
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-calendar"></i>
        Calendar
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-edit"></i>
        Edit Profile
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-settings-strong"></i>
        Configuration
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-exit"></i>
        Exit
      </a>

    </div>
  </section>
</ion-view>
