<ion-view view-title="Asignature">
  <ion-pane class="asignature">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabs">
        <a class="tab-item active" href="#">
          <i class="icon ion-home"></i>
          Test
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-star"></i>
          Favorites
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-gear-a"></i>
          Settings
        </a>
      </div>
    </div>
    <ajax-content>
      <div class="list card">
        <div class="item item-full-image">
          <img class="full-image" ng-src="{{vm.assignature.image.path}}">
        </div>
        <div class="item item-body">
          <h2>{{vm.assignature.name}}</h2>
          <p>
            {{vm.assignature.description}}
          </p>
        </div>
      </div>
    </ajax-content>
  </ion-pane>
</ion-view>
