<ion-view view-title="Asignature">
  <ion-pane class="asignature">
      <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="News" icon="icon ion-home" ui-sref="base.layout.assignatures.detail.home">
          <ion-nav-view name="tab-home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Schedule" icon="icon ion-calendar" ui-sref="base.layout.assignatures.detail.schedule">
          <ion-nav-view name="tab-schedule"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Teachers" icon="icon ion-person" ui-sref="base.layout.assignatures.detail.teachers">
          <ion-nav-view name="tab-teachers"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Files" icon="icon ion-document-text" ui-sref="base.layout.assignatures.detail.teachers">
          <ion-nav-view name="tab-teachers"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
  </ion-pane>
</ion-view>
