<ion-view view-title="Asignature - Schedule" class="assignature-tab">
  <ion-pane class="assignature">
    <ion-content>
      <ajax-content>
          <div class="list schedule">
            <div ng-repeat="course in vm.courses">
              <div class="item item-divider">
                {{course.name}}
              </div>
              <div class="zebra-list">
                <div class="item item-button-right item-avatar" ng-repeat="class in course.classes">
                  <img ng-src="{{class.image.path}}">
                  {{class.day}} {{class.startTime}} - {{class.endTime}}
                  <button class="button">
                    <i class="icon ion-android-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </ajax-content>
    </ion-content>
  </ion-pane>
</ion-view>
