<ion-view view-title="Asignature - Schedule" class="assignature-tab">
  <ion-pane class="assignature">
    <ion-content>
      <div class="list schedule">
        <div class="item item-divider">
          Course 101
        </div>
        <div class="zebra-list">
          <div class="item item-button-right item-avatar">
            <img src="img/placeholder/days/monday.jpg">
            Monday 09:30 - 12:30
            <button class="button">
              <i class="icon ion-star"></i>
            </button>
          </div>
          <div class="item item-button-right item-avatar">
            <img src="img/placeholder/days/tuesday.jpg">
            Tuesday 10:30 - 12:30
            <button class="button">
              <i class="icon ion-star"></i>
            </button>
          </div>
        </div>
        <div class="item item-divider">
          Course 102
        </div>
        <div class="zebra-list">
          <div class="item item-button-right item-avatar">
            <img src="img/placeholder/days/wednesday.jpg">
            Wednesday 12:30 - 14:30
            <button class="button">
              <i class="icon ion-star"></i>
            </button>
          </div>
          <div class="item item-button-right item-avatar">
            <img src="img/placeholder/days/friday.jpg">
            Friday 15:30 - 17:30
            <button class="button">
              <i class="icon ion-star"></i>
            </button>
          </div>
        </div>
        <div class="item item-divider">
          Course 101
        </div>
        <div class="zebra-list">
          <div class="item item-button-right item-avatar">
            <img src="img/placeholder/days/monday.jpg">
            Monday 09:30 - 12:30
            <button class="button">
              <i class="icon ion-star"></i>
            </button>
          </div>
          <div class="item item-button-right item-avatar">
            <img src="img/placeholder/days/tuesday.jpg">
            Tuesday 10:30 - 12:30
            <button class="button">
              <i class="icon ion-star"></i>
            </button>
          </div>
        </div>
        <div class="item item-divider">
          Course 102
        </div>
        <div class="zebra-list">
          <div class="item item-button-right item-avatar">
            <img src="img/placeholder/days/wednesday.jpg">
            Wednesday 12:30 - 14:30
            <button class="button">
              <i class="icon ion-star"></i>
            </button>
          </div>
          <div class="item item-button-right item-avatar">
            <img src="img/placeholder/days/friday.jpg">
            Friday 15:30 - 17:30
            <button class="button">
              <i class="icon ion-star"></i>
            </button>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
