.platform-android{
  .bar{
    height: $navbar-height;
    background-color: $color-primary;
    box-shadow: none;
    background-image: none;
    .title{
      height: $navbar-height;
      line-height: $navbar-height;
      color: white;
      margin: 0px 16px;
      padding-left: 56px;
    }
    .button-icon{
      color: white;
    }
  }
}
