//Full content element
@mixin fullcontent(){
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
};

//Changing default placeholders
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
};

//Item center with flex
@mixin flexCenter(){
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
};

.opacity-wrapper{
  position: absolute;
  .wrapper{
    @include fullcontent;
    background-color: black;
    opacity: 0.5;
  }
  img{
    position: absolute;
  }
}

.pane{
    transition: 0.2s background-color linear;
}

.menu-open{
  .pane{
    background-color: rgba(#666, 0.3);
  }
}

.img-responsive{
  max-width: 100%;
}

.content{
  //margin-top: $navbar-height;
  //margin-bottom: 20px;
  //height: 90%;
}

.list{
  .item-divider{
    border: none;
    background-color: #ECECEC;
  }
  .item{
    border: none;
    }
  }
  .zebra-list{
    .item:nth-child(even){
      background-color: #DADFE1;
    }
}

.has-tabs-top{
  top: 45px; 
}

.bar-header.has-tabs-top{
  top: 0px;
}

.scroll-content.has-tabs-top{
  height: 84%;
}

h1, h2, h3, h4, h5 {
  color: $font-color;
}
